mat-card {
    overflow: auto;
    max-height: 560px;
}

mat-list-item {
    padding-left: 10px;
    padding-right: 10px;
}

a {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.green.material-icons {
    color: green;
    cursor: pointer; 
}

.red.material-icons {
    color: red;
    cursor: pointer; 
}

mat-list { 
    overflow: auto;
    max-height: 460px;
    min-width: 360px;
 }

mat-spinner {
    padding-left: 15px;
}

.list-item {
    padding: 5px;
    border: 1px gray;
    border-radius: 3px;
    border-style: dashed;
    width: 100%;
}

.insure-list-width {
    width: 100%;
}

.add-item {
    width: 100%;
    padding: 5px;
}

span.material-icons {
    cursor: pointer;
}

.loading-location-data {
    position: relative;
    left: 35px;
    top: -16px;
    font-size: 14px;
    font-style: italic;
}