<mat-card fxLayoutAlign="start start" fxLayoutGap="10px" fxLayout="column">
    <div>Create a list from nearby restaurants then get suggested where to go | <a (click)="linkToYourList()">Copy List Link to Clipboard</a></div>
    <mat-list>
        <mat-divider></mat-divider>
    </mat-list>
    <div fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="start start">
        <mat-list>
            <mat-list-item><strong>Suggested Restaurants  </strong><mat-spinner [diameter]="30" *ngIf="suggestedRestaurants === undefined"></mat-spinner></mat-list-item>
            <span *ngFor="let item of suggestedRestaurants; let i = index">
                <mat-list-item>
                    <div class="list-item" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="25px">
                        <div>{{ item.name }} </div>
                        <div fxLayoutGap="10px" fxLayout="row">
                            <span class="material-icons red" (click)="removeFromSuggestions(i)">delete</span>
                            <span class="material-icons green" (click)="addToList(i)">add</span>
                        </div>
                    </div> 
                </mat-list-item>
            </span>
        </mat-list>
        <mat-list [ngClass.xs]="'insure-list-width'">
            <mat-list-item><div fxLayout="row" fxLayoutGap="50px" fxLayoutAlign="start center"><strong>Your Choices</strong><button mat-stroked-button (click)="whatShallWeEat()">What Shall We Eat?</button></div></mat-list-item>
            <mat-list-item>
                <div class="add-item" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="25px">
                    <mat-form-field>
                        <mat-label>Type a restaurant to add</mat-label>
                        <input #input matInput placeholder="Type a restaurant to add">
                    </mat-form-field>
                    <div fxLayout="row">
                        <span class="material-icons green" (click)="addNewItemToList()">add</span>
                    </div>
                </div> 
            </mat-list-item>
            <span *ngFor="let item of chosenRestaurants; let i = index">
                <mat-list-item>
                    <div class="list-item" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="25px">
                        <div>{{ item.name }} </div>
                        <div fxLayout="row">
                            <span class="material-icons red" (click)="removeFromChosen(i)">delete</span>
                        </div>
                    </div> 
                </mat-list-item>
            </span>
        </mat-list>
    </div>
</mat-card>